{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="index-body">
        <div class="overlay">
            <div class="container min-vh-100 d-flex">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-lg-8">
                        <h1 class="display-2 ff-home-head mx-2">The Strength Room</h1>
                        <h2 class="display-5 mb-2 ff-home-head mx-2">Strength in Numbers <i class="fas fa-users"></i></h2>
                        <div class="d-none d-md-block mt-5">
                            <p class="fs-5">
                                The Strength Room is the place for you
                                to meet like minded individuals and get in 
                                contact with some of the leading individuals 
                                in the wider strength-sport community
                            </p>
                        </div>
                        <div class="mt-3 d-flex">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'account_logout' %}" class="text-decoration-none btn btn-outline-primary btn-lg mx-2 home-button">Logout</a>
                            {% else %}
                                <a href="{% url 'account_login' %}" class="text-decoration-none btn btn-outline-primary btn-lg mx-2 home-button">Login</a>
                                <a href="{% url 'account_signup' %}" class="text-decoration-none btn btn-outline-primary btn-lg mx-2 home-button">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Section Change Banner-->

    <div class="section-banner d-flex align-items-center justify-content-center min-vw-100">
        <h2 class="display-4 mb-2 text-center">Coaching <i class="fas fa-arrow-circle-down"></i></h2>
    </div>


    <!--Coaching Section-->
    <div id="index-body-2" class="min-vw-100">
        <div class="container d-flex">
            <div class="row min-wh-100 align-items-center list-container">
                <div class="col-12 col-lg-6 order-lg-1">
                    <div>
                        <h3 class="card-title display-6 text-center my-2"><span class="rounded coaching-title">Coaching <i class="fas fa-handshake"></i></span></h3>
                        <div>
                            <p class="card-text fs-6 ms-2 text-white mt-2">
                                As a strength room client you will receive:                           
                                <ul class="custom-list text-white lh-lg">
                                    <li><i class="far fa-hourglass"></i> - An initial consultation lasting up to one hour</li>
                                    <li><i class="fas fa-people-arrows"></i> - Personalised exercise or nutrition programming depending on your goal and experience levels</li>
                                    <li><i class="fas fa-calendar-week"></i> - Weekly check-ins and intra-week messaging</li>
                                    <li><i class="fas fa-dumbbell"></i> - Programming for powerlifting offseason and competition prep</li>
                                    <li><i class="fas fa-seedling"></i> - Nutrition and programming for bodybuilding show prep</li>
                                </ul>
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'products' %}" class="text-decoration-none text-capitalize btn btn-outline-primary btn-lg justify-content-center mt-3 products-button">
                                    Click here to view products
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 order-sm-12">
                    <img class="img-fluid d-none d-lg-block" src="{{ MEDIA_URL }}treadmill.jpeg" alt="man running on a treadmill">
                </div>
            </div>
        </div>
    </div>

    <!--Section Change Banner-->

    <div class="section-banner d-flex align-items-center justify-content-center min-vw-100">
        <h2 class="display-4 mb-2 text-center">Community <i class="fas fa-arrow-circle-down"></i></h2>
    </div>


    <!--Community Section-->
    <div id="index-body-3" class="min-vw-100">
        <div class="container d-flex home-content">
            <div class="row list-container align-items-center">
                <div class="col-12 col-lg-6">
                    <div>
                        <h3 class="card-title display-6 text-center my-2"><span class="rounded coaching-title">Community <i class="fas fa-users"></i></span></h3>
                        <div>
                            <p class="card-text fs-6 ms-2 text-white mt-2">
                                In this community you can:                           
                                <ul class="custom-list text-white lh-lg">
                                    <li><i class="fas fa-users"></i> - Meet like-minded individuals</li>
                                    <li><i class="fas fa-comments"></i> - Find thriving forums for questions and answers</li>
                                    <li><i class="fas fa-lightbulb"></i> - Follow people whose journey inspires you</li>
                                    <li><i class="fas fa-cloud"></i> - Post your own thoughts and journal your own experiences</li>
                                    <li><i class="fas fa-running"></i> - Discuss exercise prescription and modification ideas</li>
                                    <li><i class="fas fa-drumstick-bite"></i> - Discover high protein meal ideas</li>
                                    <li><i class="fas fa-user-check"></i> - And much, much more!</li>
                                </ul>
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'products' %}" class="text-decoration-none text-capitalize btn btn-outline-primary btn-lg justify-content-center mt-3 products-button">
                                    Join the community
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 order-sm-12">
                    <img class="img-fluid d-none d-lg-block" src="{{ MEDIA_URL }}deadlift.jpg" alt="man deadlifting in competition">
                </div>
            </div>
        </div>
    </div>

{% endblock %}