{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- Forum Navigation and header bar -->


<div class="flex-wrapper">
    <div class="container pt-3 margin-top">
        <div class="row">
            <div class="col">
                <h2>General Forum</h2>
            </div>
            <div class="col">
                <form method="GET" action="{% url 'forum' %}">
                    <input type="text" placeholder="Search forum" class="p-1" name="q">
                    <input type="submit" value="Go!">
                </form>
            </div>
            <div class="col">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter By Category
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'forum' %}?category=Bodybuilding">Bodybuilding</a></li>
                      <li><a class="dropdown-item" href="{% url 'forum' %}?category=Powerlifting">Powerlifting</a></li>
                      <li><a class="dropdown-item" href="{% url 'forum' %}?category=Nutrition">Nutrition</a></li>
                      <li><a class="dropdown-item" href="{% url 'forum' %}?category=Equipment">Equipment</a></li>
                      <li><a class="dropdown-item" href="{% url 'forum' %}?category=Bodybuilding,Powerlifting,Nutrition,Equipment">All</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>

    <hr>

    
    <div class="container-fluid mx-auto mt-3">
        {% if posts %}
        <div class="row">
            <div class="col-4">
                <h4 class="ms-4">Title</h4>
            </div>
            <div class="d-none offset-1 d-md-block col-2">
                <h4 class="ms-4">Date</h4>
            </div>
            <div class="col-2">
                <h4 class="ms-4">Category</h4>
            </div>
        </div>

        {% for post in page reversed %}
            <div class="row my-3">
                <div class="col-4 ms-4">
                    <h2 class="text-primary"><a href="{% url 'post_detail' post.id %}" class="text-decoration-none">{{ post.title }}</a></h2>
                    <p class="text-muted">{{ post.user }}</p>
                </div>
                <div class="col-2 offset-1 d-none d-md-block"><p>{{ post.date }}</div>
                <div class="col-2">
                    <h4>{{ post.category }}</h4>
                </div>
                {% if author == request.user|stringformat:"" %}
                    <div class="col-1 offset-2 offset-md-0">
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                    </div>
                {% endif %}
            </div>

        {% endfor %}
        
        {% if page.has_previous %}
            <a class="btn btn-outline-primary ms-4 text-white" href="{% url 'forum' %}?page={{page.previous_page_number}}"><i class="fas fa-chevron-left"></i> Previous Page</a>
        {% endif %}
        {% if page.has_next %}
            <a class="btn btn-outline-primary ms-4 text-white" href="{% url 'forum' %}?page={{page.next_page_number}}">Next Page <i class="fas fa-chevron-right"></i></a>
        {% endif %}
        {% else %}
        <div>
            <h1 class="text-center">There are no posts yet!</h1>
        </div>
        {% endif %}

        <div class="row my-5">
            <div class="col text-center">
                <p>Like to get involved? Make a new post!</p>
                <a class="btn btn-outline-primary text-white" href="{% url 'new_post' %}">New Post <i class="fas fa-edit"></i></a>
            </div>
        </div>

    </div>


{% endblock %}

</div>
