{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Forum Navigation and header bar -->


<div class="flex-wrapper">
<div class="container margin-top mb-5">
    <div class="row">
        <h1 class="text-center mb-3">Thank you for your order, {{ order.full_name }}!</h1>
        <h3 class="text-center mb-3">An email has been sent to {{ order.email }} confirming your order.</h3>
        <div class="col-12 col-lg-6">
            <div>
                <table class="table text-white">
                    <thead>
                        <thead>
                            <h3 class="text-center">Order Summary</h3>
                        </thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Order Number:</td>
                            <td>{{ order.order_number}}</td>
                        </tr>
                        <tr>
                            <td>Order Date:</td>
                            <td>{{ order.date }}</td>
                        </tr>
                        <tr>
                            <td>Product Name:</td>
                            <td>{{ order.product }}</td>
                        </tr>
                        <tr>
                            <td>Order Total: </td>
                            <td>{{ order.order_total }}</td>
                        </tr>
                        <tr>
                            <td>Recurring Payment: </td>
                            {% if order.product.recurring %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                        </tr>
                        {% if order.product.recurring %}
                            <tr>
                                <td>Date for next payment:</td>
                                <td>{{ resub_date }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <table class="table text-white">
                <thead>
                    <h3 class="text-center">Billing Details</h3>
                </thead>
                <tbody>
                    <tr>
                        <td>Full Name: </td>
                        <td>{{ order.full_name }}</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>{{ order.email }}</td>
                    </tr>
                    <tr>
                        <td>Phone Number: </td>
                        <td>{{ order.phone_number }}</td>
                    </tr>
                    <tr>
                        <td>Street Address 1: </td>
                        <td>{{ order.street_address1}}</td>
                    </tr>
                    {% if street_address2 %}
                        <tr>
                            <td>Street Address 2: </td>
                            <td>{{ order.street_address2 }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Town or City: </td>
                        <td>{{ order.town_or_city }}</td>
                    </tr>
                    {% if county %}
                        <tr>
                            <td>County: </td>
                            <td>{{ order.county }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Country: </td>
                        <td>{{ order.country }}</td>
                    </tr>
                    {% if postcode %}
                        <tr>
                            <td>Postcode: </td>
                            <td>{{ order.postcode }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

</div>
