{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Forum Navigation and header bar -->


<div class="flex-wrapper">
<div class="container margin-top">
    <div class="row align-items-center">
        <div class="col">
            {{ order }}
        </div>
    </div>
</div>

{% endblock %}

</div>
