{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- Forum Navigation and header bar -->


<div class="flex-wrapper">
<div class="container margin-top mb-3">
    <div class="row">
            {% if product.recurring %}
                <div class="col-12 col-md-6 col-lg-4 mb-3 my-2">
                    <div class="card bg-dark p-2">
                        <h3 class="text-center mb-3">{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p class="text-muted">€ {{ product.price }} per week</p>
                        <button class="btn btn-primary mb-3"><a href="{% url 'product_checkout' product.id %}" class="text-white text-decoration-none">Subscribe now!</a></button>
                    </div>
                </div>
            {% endif %}
    </div>

    <div class="row mx-3">
        <h1 class="mb-3 text-center">Single Payments <i class="fas fa-handshake"></i></h1>
        {% for product in products %}
            {% if not product.recurring %}
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <div class="card bg-dark p-2">
                        <h3 class="mb-3">{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p class="text-muted">€ {{ product.price }}</p>
                        <button class="btn btn-primary mb-3"><a href="{% url 'product_checkout' product.id %}" class="text-white text-decoration-none">Purchase Now!</a></button>
                        {% if user.is_superuser %}
                            <a class="text-decoration-none btn btn-danger mb-3" href="{% url 'delete_product' product.id %}">Delete Product</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if user.is_superuser %}
        <div class="row my-3">
            <div class="col text-center">
                <p>Add a new product!</p>
                <a class="btn btn-outline-primary text-white" href="{% url 'add_product' %}">New Product <i class="fas fa-plus"></i></a>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

</div>
